body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: aliceblue;
}
h1{
    color: #333;

}

button{
    background-color: blue;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ;
    
}

button:hover{
    background-color: darkblue;
}

#color{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 20px;
}